@model NhanVien;

<form method="post" asp-action="Edit">
	<div>
		<h2>
			Sửa nhân viên
		</h2>
	</div>
	<div class="mb-3">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Address"></label>
		<input asp-for="Address" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Phone"></label>
		<input asp-for="Phone" class="form-control" />
		<span asp-validation-for="Phone" class="text-danger"></span>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">Cập nhật</button>
		<a asp-controller="NhanVien" asp-action="Index" class="btn btn-secondary">Quay về</a>
	</div>

</form>

